
//COLOR VARIABLES
$main-color-green: #00856F;
$light-green: #84C7AE;
$light-color-grey: #DCE9E2;
$light-beige: #ece7de;
$bg-light-beige:#E2F3ED;
$dark-theme-bg: #142639;
$dark-grey-text: #06121e;

//TEXT COLOR
$main-dark: #20312a;
$main-grey: #1d644a80;

//MARGINS AND PADDINGS

$main-margin: 2rem;